<!DOCTYPE html>
<html>
<head>
    <title> Anand Vamsi </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>BlogPost</h2>
    <p>
        In today's data-driven world, the role of a data scientist has become crucial in solving complex real-world problems. My name is Anand, and I am a graduate student specializing in Applied Data Science, with a focus on Natural Language Processing (NLP) and Deep Learning. As a former B2B sales consultant, I discovered my passion for analytics while analyzing Salesforce reports and using visualizations to drive strategies. This led me to pursue a graduate program in data science, with the aim of becoming a data-driven practitioner with expertise in machine learning.
        <br />
        <br />
        Throughout my studies, I have gained extensive knowledge and hands-on experience in various areas of data science, including machine learning, data mining, statistical analysis, and data visualization. I have also completed several projects that have allowed me to apply my skills and knowledge to real-world problems, such as sequence analysis, predicting the status of stack-overflow questions, analyzing toxicity in Wikipedia comments data, using NLP techniques, and more.
        <br />
        In this blog post, I will showcase my journey through the program and highlight the specific outcomes and learnings from each course. I will also provide an overview of the projects I have completed and the skills I have gained along the way. I have used various tools and technologies such as Python, TensorFlow, and R programming Language to achieve certain results, and I have communicated my findings through data visualizations, reports, and presentations.
        <br />
        Overall, my passion for building intelligent systems and my journey towards becoming a skilled data scientist with expertise in NLP and deep learning is reflected in my portfolio. So, stay tuned to learn more about my experience and insights into the field of data science.
        <br />
        Data Science is a rapidly growing field that is transforming the way organizations make decisions. As more companies adopt data-driven strategies, the demand for skilled professionals who can collect, analyze, and interpret large amounts of data is on the rise. The Applied Data Science program at Syracuse University is designed to prepare students to meet this demand by providing them with the skills and knowledge needed to succeed in a data-driven world. The program focuses on six key learning outcomes that are critical for success in this field. In this blog post, we will explore each of these outcomes and how they directly impact a student's ability to add direct value to an organization.
        <br />
        <br />
        Outcome 1: Collect, store and access data by identifying and leveraging technologies.
        The first outcome of the Applied Data Science program focuses on the importance of being able to collect, store, and access data. This is a critical step in any data science project as it lays the foundation for all subsequent analysis. To achieve this outcome, students are taught how to identify and leverage different technologies for storing and accessing data. This includes understanding how to use data lakes, databases, and cloud-based solutions like Azure to store and access data.

        In my own experience, I was able to achieve this outcome by accessing thousands of images from my company's OneDrive in my first project at work. I also demonstrated my ability to collect, store, and access data by building a database application from scratch in my Database Administration course. We conceptualized the implementation model for the database and created it on Azure cloud using MySQL. This project taught me the importance of leveraging technology to access desired data and use it to drive decisions.
        <br />
        <br />
        Outcome 2: Create actionable insights using data and full data science life cycle.
        The second outcome of the Applied Data Science program focuses on the importance of creating actionable insights using data. This involves understanding the full data science life cycle, from data collection and preparation to analysis and communication of insights. To achieve this outcome, students are taught how to apply appropriate statistical methods to analyze data and identify key insights that can be used to make informed decisions.

        In my experience, I was able to achieve this outcome in my Introduction to Data Science course. We applied statistical methods such as logistic regression to real-world datasets like hotel reservation data to analyze cancellations. By identifying key factors that were driving cancellations, we were able to make recommendations to hotel management on how to minimize them. These skills are essential for any data analyst or scientist to effectively communicate insights and drive data-based decision-making.
        <br />
        <br />
        Outcome 3: Apply Visualization and predictive models to help generate insight.
        The third outcome of the Applied Data Science program focuses on the importance of using visualization and predictive models to generate insights. Visualizations are important because they allow us to communicate complex information and relationships in a clear and concise manner. Predictive models, on the other hand, allow us to use data to make predictions about future outcomes. To achieve this outcome, students are taught how to build predictive models and use visualization techniques to communicate insights.

        In my experience, this outcome was heavily emphasized in the Applied Machine Learning course. We built several predictive models ranging from PCA, Naive Bayes, Neural Networks, etc. We analyzed the data, checked for assumptions, visualized the data, and then went about modeling. Our project on NFL helped me understand the full life cycle of a Data Science project, from cleaning, analysis to predictions.
        <br />
        <br />
        Outcome 4: Proficiency in Programming Languages
        Proficiency in programming languages such as R and Python is a crucial skill for data scientists and machine learning engineers to effectively generate insights from data. Mastery of these languages enables individuals to leverage the full scope of the data through visualizations and predictions.
        <br />
        <br />
        Outcome 5: Effective Communication of Insights
        Effective communication of insights gained through visualization is essential in data science. The ability to communicate complex information in a clear and concise manner can lead to informed decision-making and better outcomes. It is crucial to consider the target audience's level of expertise and adjust the presentation accordingly to ensure comprehension.
        <br />
        <br />
        Outcome 6: Ethical Considerations in Model Development and Evaluation
        In the development, use, and evaluation of models, it is crucial to consider ethical implications. This involves ensuring that the data and algorithms used are fair, unbiased, and do not cause harm to individuals or communities. By applying ethical considerations, we can promote transparency, accountability, and build trust in the use of AI and machine learning technologies. The involvement of experts in the process is essential in considering ethical implications and ensuring that the models are developed and evaluated in a responsible and fair manner.
        <br />
        <br />
        Some of mhy projects are listed below:
        <br />
        <br />
        a) <a href="/GraduateStudiesOverview/StudenthostelAccomodation">Syracuse University student hostel accommodation project in SQL</a>:
        In the IST 659 course, we were given a project to develop an application for managing housing requests and inquiries for student hostels at Syracuse University. Our main objective was to apply the concepts learned in the course to a real-world scenario. For this project, we utilized Microsoft SQL Server as our Relational Database Management System (RDBMS) to create databases and connect them to our front-end application, which was built using PowerApps.

        We began by implementing the logical model of the database using Draw.io. We created tables for Owners, Students, Units, Towers, and other necessary components. We also implemented the required data constraints, business rules, and logical data models for the database, such as foreign keys and data types. Although this project was not intended to generate data-driven insights, we demonstrated working queries, triggers, and requests through the front-end interface.

        As part of my contribution to the project, I wrote the entire up-down script, queries, triggers, and built a working PowerApps model to connect to SQL Server. By using SQL Server and PowerApps, we were able to develop a robust and efficient database system that could handle housing requests and inquiries for Syracuse University's student hostels. The project also helped us improve our skills in data management, logical data modeling, and database connectivity.
        <br />
        <br />
        b) <a href="/GraduateStudiesOverview/NFLProject">Predicting Playcalling Tendencies in NFL </a>:
        The ability to predict playcalling tendencies during National Football League (NFL) games is crucial in enhancing game-winning performance. Our project utilized machine learning techniques, including decision trees, random forest, and gradient boosting, to predict whether a given play in the 2020 NFL season was a run or a pass using pre-snap, play-by-play data from the 2011 to 2020 NFL seasons. We collected and analyzed 307,317 observations and used Python for the entire project's lifecycle, from cleaning and feature engineering to data analytics and machine learning.

        The project's primary objective was to provide insights using data mining. We generated actionable insights, such as visualizing the best accuracies for each team per down, quarter, and a heat map showing accuracy of a given offense against a defense. These insights helped teams to anticipate their opponents' playcalling tendencies, leading to better game strategies and game-winning performances.

        My specific contribution to the project included feature engineering variables such as in-game run-pass ratio and expected points added, building gradient boosting algorithms, and neural networks to predict play calls. We utilized our results to explore the relationship between predictability and team success. By analyzing the data, we were able to determine which teams were the most predictable and identify the factors that contributed to their predictability.

        The project helped us achieve several learning outcomes, including creating actionable insights using data and the full data science lifecycle. We applied visualization and predictive models to generate insights that helped teams make informed decisions. Additionally, we gained valuable experience in data cleaning, feature engineering, and machine learning techniques, which we could apply to future projects.
        <br />
        <br />
        c) <a href="/GraduateStudiesOverview/NLPProject">Predicting Stack Overflow Questions using NLP</a>:
        In the NLP course for the secondary track, our project involved predicting the status of a Stack Overflow problem, i.e., whether it would be closed or not. We utilized a dataset available on Kaggle to carry out our analysis. The objective of the project was to leverage NLP techniques on text data to perform data mining operations and generate insights into the business questions at hand. We utilized several Python libraries such as regex, NLTK, pandas, and Keras.
        We delved into the workings of various RNN models and compared their performance to gain a better understanding of their functionality. My personal contribution to the project involved carrying out data cleaning and preprocessing operations, such as stemming, lemmatization, and generating embeddings.
        <br />
        <br />
        In the Applied Data Science porgram, I found Applied Deep Learning and Advanced Data Structures and Algorithms to be particularly useful. These courses offerred me an opportunity to work on my concepts and I beleive will be of great help in the long run. The best part of the program was oiur ability to choose our specialization and the flexibility to select courses outside iSchool. This helped me tailor my learning experiences as per my need. Having said that, lack of mathematical depth while explaining Machine Learning has been one of the biggest surprises.
    </p>
</body>
</html>