<!DOCTYPE html>
<html>
<head>
    <title> Anand Vamsi </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>NLP Project</h2>
    <br />
    <br />
    <br />
    <p>
        As part of my NLP course, we worked on a task that involved predicting the closure status of Stack Overflow problems using a dataset available on Kaggle. Our goal was to use NLP techniques on text data for data mining and generating insights. We used Python libraries such as regex, NLTK, pandas, and Keras for data cleaning, preprocessing, and model building, including LSTM, LSTM with attention, BERT, and CNN 1-D models. Our analysis showed the remarkable effectiveness of CNN models for text classification and the superiority of BERT models over legacy models like LSTM and RNN. We also gained insights into the encoder-decoder architecture's impact on model performance. Python was used to support insights generation. Overall, the project allowed us to apply NLP techniques to text data, understand various models' workings, and provide valuable insights into business questions.
    </p>
    <br />
    <br />
    <img src="{{ url_for('static', filename = "NLP_Results.jpg")}}" alt="NLP" class="NLP" style="width:500px; height:250px;"/>
</body>
</html>