<!DOCTYPE html>
<html>
<head>
    <title> Anand Vamsi </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <br />
    <br />
    <br />
    <p>
        I would like to go through program outcomes and explain how I moved a step closer to these objectives. Throughout my studies, I've gained extensive knowledge and hands-on experience in various areas of data science, including machine learning, data mining, statistical analysis, and data visualization.
        I've completed several projects that have allowed me to apply my skills and knowledge to real-world problems, such as sequence analysis, predicting the status of stack-overflow questions, analyzing toxicity in Wikipedia comments data, using NLP techniques.
        <br />
        <br />
        My portfolio showcases my journey through the program, highlighting the specific outcomes and learnings from each course. It also provides an overview of the projects I've completed and the skills I've gained along the way. I've used various tools and technologies such as Python, TensorFlow, and R programming Language to achieve certain results, and I've communicated my findings through data visualizations, reports, and presentations
    </p>
    <ul>
        <li>
            Collect, store and access data by identifying and leveraging technologies.
            <br /><br />
            <p>Effective data management is essential in any data science project. One must identify and access the relevant data, which could be stored in various forms and locations such as one drive, data lakes, databases etc.</p>
            <p>During my DataBase Administration course, I was tasked with developing a <a href="/GraduateStudiesOverview/StudenthostelAccomodation">database application from scratch</a>, which allowed me to demonstrate my ability to conceptualize the implementation model of the database. Using MySQL, we created the database on the Azure cloud and successfully showcased working queries, triggers and procedures. This project helped me gain practical experience and strong understanding of the subject.</p>
        </li>
        <li>
            Create actionable insights using data and ful data science life cycle.
            <br /><br />
            <p>Data analysis is a key factor in informed decision making that involves applying statistical methods from basic to advanced. We applied statistical models to real-world datasets, identifying key factors behind cancellations and recommending ways to minimize them in the hotel reservation data in Introduction to Data Science course. These skills are crucial for effective communication of insights and driving data-based decision-making.</p>
        </li>
        <li>
            Apply Visualization and predictive models to generate insight.
            <br /><br />
            <p>Visualizations enable effective communication of complex information and relationships, identifying patterns and trends in data, and conveying insights in a concise manner, allowing quick identification of key findings and informed decision-making.</p>
            <p>In the Applied Machine Learning course, we built predictive models using various techniques and applied them to real-world data. Through our <a href="/GraduateStudiesOverview/NFLProject">NFL project</a>, we gained experience in the full data science project lifecycle, from cleaning to predictions.</p>
        </li>
        <li>
            Using Programming languages such as R and Python to support generation of insights.
            <br /><br />
            <p>A strong coding ability in programming languages like R and Python is essential for generating insights in data science and statistical analysis, as well as performing well in coding rounds as a data scientist or ML engineer.</p>
            <p>The ADS program at Syracuse University emphasizes Python and R as primary languages for data science, but students can also take electives outside the iSchool. I took Object-Oriented Programming with C++ and Advanced Data Structures and Algorithms from the School of Computer Science, which enhanced my coding principles and taught me how to optimize my code using logic, which has been invaluable for generating insights as a data scientist.</p>
        </li>
        <li>
            Communicate insights gained via visualization to a broad range of audiences.
            <br /><br />
            <p>Effective communication of visualized insights to diverse audiences is crucial for making complex information accessible and facilitating informed decision-making. Adapting the presentation to the audience's level of expertise is vital for ensuring comprehension.</p>
            <p>In the <a href="/GraduateStudiesOverview/NLPProject">NLP project</a>, we presented our findings through poster presentations to peers from various backgrounds, ensuring that the visualizations we used effectively conveyed our key findings. Our efforts to make the information accessible to all resulted in well-received insights that could inform decision-making.</p>
        </li>
        <li>
            Apply ethics in the development, use and evaluation of models.
            <br /><br />
            <p>Considering ethical implications is crucial in the development, use, and evaluation of models. It involves ensuring fairness, avoiding bias, and preventing harm to individuals or communities. By taking ethical considerations into account, we can enhance transparency, accountability, and establish trust in the use of AI and machine learning technologies.</p>
            <p>During our Text Mining project, we employed machine learning algorithms to classify legal text documents. However, we merged some classes to simplify the complex legal vocabulary and demonstrated general use cases. To avoid compromising the integrity of legal proceedings, we involved domain experts in the decision-making process and considered ethical implications specific to the legal field. This highlights the importance of involving experts and considering ethical implications to ensure responsible and fair development and evaluation of models.</p>
        </li>
    </ul>
</body>
</html>